.header__menu{
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../assets/img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.header{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__button{
    display: none;
}

.container__img{
    padding: 1rem;
}

.menu__list{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__button:checked ~ .menu__list{
    display: block;
}

.menu__list__title,
.menu__list__item{
    padding: 1rem;
    background-color: var(--white);
}

.menu__list__title{
    color: var(--orange);
}

.menu__list__item__link{
    background: var(--blue-fade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container__title,
.options,
.container__description{
    display: none;
}

@media screen and (min-width: 1024px){
    .container__title,
    .container__title--bold{
        font-family: var(--title-font);
        font-size: 1.875rem;
        display: inline-block;
    }

    .container__title{
        font-weight: 400;
        font-size: 1.875rem;
    }

    .container__title--bold{
        font-weight: 700;
    }

    .options{
        display: flex;
    }

    .options__item{
        padding: 2rem;
        text-transform: uppercase;
    }

    .options__link{
        text-decoration: none;
        color: var(--black);
    }

    .favorites{
        display: none;
    }

    .header__menu{
        display: none;
    }

    .options__button:checked~ .menu__list{
        display: block;
        width: auto;
    }

    .options__button{
        display: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .container__description{
        display: block;
        font-size: 1.25rem;
        color: var(--black);
    }

    .header{
        padding: 0 2rem;
    }

    .options{
        margin-right: auto;
    }
}
